@layer theme, base, utilities;

/* KERN UX */
@import "@kern-ux/native/dist/fonts/fira-sans.css" layer(base);
@import "@kern-ux/native/dist/kern.css" layer(base);

/* Tailwind without preflight (normalize) */
/* will only look into the app folder for content */
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities) source("../app");

/* use the KERN UX theme */
@import "@digitalservicebund/kern-ux-tailwind-theme/theme.css" layer(theme);

/* disable Tailwind's container */
@source not inline("container");

/* exclude prototype routes from Tailwind's content scanning */
/* that routes use Tailwind too, but with another (the default) theme */
@source not "./prototype.styles.css";
@source not "./routes/prototype.verfahren.tsx";
@source not "./routes/prototype.verfahren.$id.tsx";

@layer base {
  /* additional icons that are not included in the KERN UX stylesheet */
  .kern-icon--network_node {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='' viewBox='0 -960 960 960' width='' fill='%23000000'%3E%3Cpath d='M220-80q-58 0-99-41t-41-99q0-58 41-99t99-41q18 0 35 4.5t32 12.5l153-153v-110q-44-13-72-49.5T340-740q0-58 41-99t99-41q58 0 99 41t41 99q0 48-28 84.5T520-606v110l154 153q15-8 31.5-12.5T740-360q58 0 99 41t41 99q0 58-41 99t-99 41q-58 0-99-41t-41-99q0-18 4.5-35t12.5-32L480-424 343-287q8 15 12.5 32t4.5 35q0 58-41 99t-99 41Zm520-80q25 0 42.5-17.5T800-220q0-25-17.5-42.5T740-280q-25 0-42.5 17.5T680-220q0 25 17.5 42.5T740-160ZM480-680q25 0 42.5-17.5T540-740q0-25-17.5-42.5T480-800q-25 0-42.5 17.5T420-740q0 25 17.5 42.5T480-680ZM220-160q25 0 42.5-17.5T280-220q0-25-17.5-42.5T220-280q-25 0-42.5 17.5T160-220q0 25 17.5 42.5T220-160Z'/%3E%3C/svg%3E");
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='' viewBox='0 -960 960 960' width='' fill='%23000000'%3E%3Cpath d='M220-80q-58 0-99-41t-41-99q0-58 41-99t99-41q18 0 35 4.5t32 12.5l153-153v-110q-44-13-72-49.5T340-740q0-58 41-99t99-41q58 0 99 41t41 99q0 48-28 84.5T520-606v110l154 153q15-8 31.5-12.5T740-360q58 0 99 41t41 99q0 58-41 99t-99 41q-58 0-99-41t-41-99q0-18 4.5-35t12.5-32L480-424 343-287q8 15 12.5 32t4.5 35q0 58-41 99t-99 41Zm520-80q25 0 42.5-17.5T800-220q0-25-17.5-42.5T740-280q-25 0-42.5 17.5T680-220q0 25 17.5 42.5T740-160ZM480-680q25 0 42.5-17.5T540-740q0-25-17.5-42.5T480-800q-25 0-42.5 17.5T420-740q0 25 17.5 42.5T480-680ZM220-160q25 0 42.5-17.5T280-220q0-25-17.5-42.5T220-280q-25 0-42.5 17.5T160-220q0 25 17.5 42.5T220-160Z'/%3E%3C/svg%3E");
    background-color: var(--kern-color-action-default, #1a3da5);
  }

  .kern-icon--insert-drive-file {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24' %3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M6 2c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8.83c0-.53-.21-1.04-.59-1.41l-4.83-4.83c-.37-.38-.88-.59-1.41-.59H6zm7 6V3.5L18.5 9H14c-.55 0-1-.45-1-1z'/%3E%3C/svg%3E");
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24' %3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M6 2c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8.83c0-.53-.21-1.04-.59-1.41l-4.83-4.83c-.37-.38-.88-.59-1.41-.59H6zm7 6V3.5L18.5 9H14c-.55 0-1-.45-1-1z'/%3E%3C/svg%3E");
    background-color: var(--kern-color-layout-text-default, #171a2b);
  }

  .kern-icon--icon--storage {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M19.8253 9C20.1418 9.00007 20.3963 9.12071 20.588 9.3623C20.7795 9.6039 20.8498 9.87492 20.7999 10.1748L19.2755 19.3252C19.1921 19.8084 18.9629 20.2088 18.588 20.5254C18.213 20.8421 17.7832 21 17.2999 21H6.70026C6.21693 21 5.78717 20.8421 5.41217 20.5254C5.03721 20.2088 4.80802 19.8085 4.72467 19.3252L3.20026 10.1748C3.15031 9.87488 3.22056 9.60392 3.41217 9.3623C3.60381 9.12067 3.85826 9.00003 4.17487 9H19.8253ZM10.0001 13C9.71675 13 9.47883 13.0955 9.28717 13.2871C9.0955 13.4788 9.00006 13.7167 9.00006 14C9.00006 14.2833 9.0955 14.5212 9.28717 14.7129C9.47883 14.9045 9.71675 15 10.0001 15H14.0001C14.2834 15 14.5213 14.9045 14.713 14.7129C14.9046 14.5212 15.0001 14.2833 15.0001 14C15.0001 13.7167 14.9046 13.4788 14.713 13.2871C14.5213 13.0955 14.2834 13 14.0001 13H10.0001ZM18.0001 6C18.2834 6.00002 18.5213 6.09546 18.713 6.28711C18.9046 6.47877 19.0001 6.71668 19.0001 7C19.0001 7.28332 18.9046 7.52123 18.713 7.71289C18.5213 7.90454 18.2834 7.99998 18.0001 8H6.00006C5.71675 8 5.47883 7.90453 5.28717 7.71289C5.0955 7.52122 5.00006 7.28333 5.00006 7C5.00006 6.71667 5.0955 6.47878 5.28717 6.28711C5.47883 6.09547 5.71675 6 6.00006 6H18.0001ZM16.0001 3C16.2834 3.00002 16.5213 3.09546 16.713 3.28711C16.9046 3.47877 17.0001 3.71668 17.0001 4C17.0001 4.28332 16.9046 4.52123 16.713 4.71289C16.5213 4.90454 16.2834 4.99998 16.0001 5H8.00006C7.71675 5 7.47883 4.90453 7.28717 4.71289C7.0955 4.52122 7.00006 4.28333 7.00006 4C7.00006 3.71667 7.0955 3.47878 7.28717 3.28711C7.47883 3.09547 7.71675 3 8.00006 3H16.0001Z' fill='%231A3DA5'/%3E%3C/svg%3E");
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M19.8253 9C20.1418 9.00007 20.3963 9.12071 20.588 9.3623C20.7795 9.6039 20.8498 9.87492 20.7999 10.1748L19.2755 19.3252C19.1921 19.8084 18.9629 20.2088 18.588 20.5254C18.213 20.8421 17.7832 21 17.2999 21H6.70026C6.21693 21 5.78717 20.8421 5.41217 20.5254C5.03721 20.2088 4.80802 19.8085 4.72467 19.3252L3.20026 10.1748C3.15031 9.87488 3.22056 9.60392 3.41217 9.3623C3.60381 9.12067 3.85826 9.00003 4.17487 9H19.8253ZM10.0001 13C9.71675 13 9.47883 13.0955 9.28717 13.2871C9.0955 13.4788 9.00006 13.7167 9.00006 14C9.00006 14.2833 9.0955 14.5212 9.28717 14.7129C9.47883 14.9045 9.71675 15 10.0001 15H14.0001C14.2834 15 14.5213 14.9045 14.713 14.7129C14.9046 14.5212 15.0001 14.2833 15.0001 14C15.0001 13.7167 14.9046 13.4788 14.713 13.2871C14.5213 13.0955 14.2834 13 14.0001 13H10.0001ZM18.0001 6C18.2834 6.00002 18.5213 6.09546 18.713 6.28711C18.9046 6.47877 19.0001 6.71668 19.0001 7C19.0001 7.28332 18.9046 7.52123 18.713 7.71289C18.5213 7.90454 18.2834 7.99998 18.0001 8H6.00006C5.71675 8 5.47883 7.90453 5.28717 7.71289C5.0955 7.52122 5.00006 7.28333 5.00006 7C5.00006 6.71667 5.0955 6.47878 5.28717 6.28711C5.47883 6.09547 5.71675 6 6.00006 6H18.0001ZM16.0001 3C16.2834 3.00002 16.5213 3.09546 16.713 3.28711C16.9046 3.47877 17.0001 3.71668 17.0001 4C17.0001 4.28332 16.9046 4.52123 16.713 4.71289C16.5213 4.90454 16.2834 4.99998 16.0001 5H8.00006C7.71675 5 7.47883 4.90453 7.28717 4.71289C7.0955 4.52122 7.00006 4.28333 7.00006 4C7.00006 3.71667 7.0955 3.47878 7.28717 3.28711C7.47883 3.09547 7.71675 3 8.00006 3H16.0001Z' fill='%231A3DA5'/%3E%3C/svg%3E");
    background-color: var(--kern-color-action-default, #1a3da5);
    width: 24px;
    height: 24px;
    display: inline-block;
  }

  body {
    margin: 0;
  }
  .pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}
